# Default ignored files
/shelf/
/workspace.xml
# CodeStream ignored files
/../../test\.idea/codestream.xml
# Datasource local storage ignored files
/../../../../../../../../:\Code\Docker\jenkins\projets\projet1\test\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
